* {
	margin:0;
	padding: 0;
}

body {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	animation: backslide 20s ease-in-out infinite;

}

@keyframes backslide {
	0%, 100% {
		background-image: url(imgs/img4.jpg);
	}
	25% {
		background-image: url(imgs/img13.jpg);
	}
	50% {
		background-image: url(imgs/img22.jpg);
	}
	75% {
		background-image: url(imgs/img23.jpg);
	}
}

.content {
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.3);
}

.container {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 50%);
	text-align: center;
	align-items: center;
}

.container h1, h5 {
	color: #FFDAB9;
	letter-spacing: 2px;
}

.container h4 {
	color: #FFF5EE;
	line-height: 40px;
}

.container p {
	color: #FFCCCC;
	line-height: 60px;

}
.container button  {

	border: 1px solid;
	border-radius: 10px;
	border-color: #FFCCCC;
 	width: 100px;
	height: 50px;
	background-color: rgba(0,0,0,.0);

}
.container button:hover {
	background-color: #CC6699;
	border-color: #CC6699;
	transition: all 400ms;
}

 .botao:link, .botao:visited {
	text-decoration: none;
	color: #FFCCCC;
	}
.botao:hover {
	text-decoration: none; 
	color: #FFFFFF;
	}
.botao:active {
	text-decoration: none
	}
}