/* Configuração de todas as paginas */

* {
	margin: 0;
	padding: 0;
}

/* configuração e layout de todas as paginas */
body {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	animation: backslide 20s ease-in-out infinite;

}

@keyframes backslide {
	0%, 100% {
		background-image: url(imgs/img4.jpg);
	}
	25% {
		background-image: url(imgs/img13.jpg);
	}
	50% {
		background-image: url(imgs/img22.jpg);
	}
	75% {
		background-image: url(imgs/img23.jpg);
	}
}
/* definindo o estilo da lista e posicionamento*/


/* Estilo dos itens do menu (lista)*/


/* efeito scroll */

.bloco {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

#inicio {
	background: rgb(0, 0, 0, .5);
}
#sobre {
	background-color: blue;
	background-image: url(imgs/img32.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}
#confir {
	background-color: grey;
	background-image: url(imgs/img8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;

}
#local {
	background-image: url(imgs/img11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
}

.sections {
	transition: all ease-in-out .4s;
}

.links {
	width: 100%;
	height: 5%;
	position: fixed;
	display: flex;
	background-color: rgba(0,0,0,.1);
	z-index: 1;
}

.links a {
	padding: 10px 0;
	flex-grow: 2;
	cursor: pointer;
	transition: all .4s;
	text-align: center;
	font-family: 'Arial'
	font-size: 1.000em;
	color: #CD5C5C;
	text-decoration: none;
	display: block;
}



.links a:hover {
	background-color: rgba(255,255,255,.2);
	color: white;

}

.expanse {
	width: 100vw;
	height: 5vh;
	position: fixed;
	display: inline-flex;
	z-index: 1;
	justify-content: center;
	bottom: 0;
}

.expanse nav {
	bottom: 0;
}

.expanse nav button {
	background-color: rgba(255,255,255,.2);
	width: 100vw;
	border-style: none;
}

.expanse nav button:hover {
	background-color: rgba(255,0,155,.2);
	width: 100vw;
	border-style: none;
}

.expanse nav button:active {
	transform-style: ;
}

.expanse nav img {
	width: 8vw;
	height: 3vh;
}

/* Titulo nome dos noivos*/

.glass img {
	width: 20%;
	margin-left: 38.50%;
	margin-top: 2%;
}
.glass h3, p {
	position: relative;
	text-align: center;
	top: 50%;
	width: 100%;
	height: 2%;
	color: #fff;
}

.glass p {
	font-size: 1.500em;
	position: relative;
	top: -1vh;
	text-align: center;
	width: 100%;
	height: 2%;
	color: #ff0000;
}

/* Section do video de apresentação8*/

.video {
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.video h1 {
	position: relative;
	text-align: center;
	color: black;
	top: -2vh;
	padding: 1.250rem;
	font-size: 1.25rem;

}

.video iframe {
	position: relative;
	width: 50vw;
	height: 50vh;
	float: center;
	transform: translate(50%, 10%);
}

/* Contador regressivo*/

.countDown {
	font-size: 1.850rem;
	color: #000;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 10vh;
}

/* bloco campo de redirecionamento para o formulário*/

.divt {
	background: rgb(0, 0, 0, .5);
	width: 100vw;
	height: 50vh;
	border-bottom: 5vh solid;
	border-top: 5vh solid;
	transform: skewY(-4deg);


} 


#confir section header h1 {
	
	margin-top: -100px;
	top: 0;
	padding: 10px;
	color: white;
	text-align: center;
	height: 60px;
	font-size: 1.25rem;

}

.divt p {
	transform: skewY(4deg);
	margin-top: 0.5%;
	color: white;
	text-align: center;
	height: 10vh;
	padding: 20px -20px;
	font-size: 1.125rem;
}


.divt-c a {
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 3px;
	font-family: 'Arial'
	font-size: 20px;
	width: 100%;
	height: 550px;
	border-style: solid;
	border-color: #F08080;
	position: relative;
	left: 46%;
	top: 50px;
	padding: 10px 10px;
	flex-grow: 1;
	background-color: #DB7093;
}

.divt-c a:hover {
	border-color: #D8BFD8;
	background-color: #FFE4E1;
	color: black;
	transition: all 400ms;
}


/* maps */

.maps {
	align-items: center;
	justify-content: center;
	text-align: center;
	background: rgb(0, 0, 0, .5);
	width: 100vw;
	height: 100vh;

}

.maps h1 {
	margin-top: 3%;
	padding: 20px;
	text-align: center;
	color: white;
	font-size: 1.25rem;
}

.maps p {
	color: white;
	font-size: 1.125rem;
	float: center;
}
.maps iframe {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.maps a {
	text-decoration: none;
	color: white;
	border-radius: 3px;
	font-family: 'Arial'
	font-size: 20px;
	width: 100%;
	height: 550px;
	border-style: solid;
	border-color: #F08080;
	position: relative;
	top: 450px;
	padding: 10px 10px;
	flex-grow: 1;
	background-color: #DB7093;
}



/* Responsividade */


@media only screen and (max-device-width: 786px) {
	html {
		font-size: 100%;
	}
	.glass p {
		display: initial;
		position: relative;
		padding: 0 49.5% 0;
	}
	.links {
		display: none;
	
	}
	.blocos {
		width: 100vw;
		height: 100vh;
	}
	.video iframe {
		margin: 0 auto, 0 auto;
	}
	.divt p {
		display: initial;
		padding: 0 10% 0;
		transform: skewY(4deg);
	}

	.divt-c a {
		display: initial;
		position: relative; 
	}
	.maps h1, p, a {
		display: none;
	}
}

@media only screen and (max-device-width: 425px) {
	.glass p {
		display: initial;
		position: relative;
		padding: 0 49% 0;
	}

	.links {
		display: none;
	}

	.maps iframe {
		display: none;
	}
	.maps h1 {
		top: 5%;
		display: initial;
		position: relative;
		text-align: center;
		padding: 0 15% 0;
	}
	.maps p {
		display: initial;
		position: relative;
		padding: 0 15% 0;	
	}
	.maps a {
		display: initial;
		position: relative;
		margin: 0 25% 0;
	}

	.divt p {
		display: initial;
		padding: 1% 5% 0;
		transform: skewY(4deg);

	}

	.divt-c a {
		display: initial;
		position: relative;
		margin: 0 -6% 0; 
	}
}

@media (max-device-width: 320px) {
	.maps p {
		padding: 0 10% 0;
	}
	.divt-c a {
		margin: 0 -10% 0;
	}
}